/* tombol nav */
nav ul {
    display: flex;
    padding: 0;
    /* margin: 0; */

    a {
        border: 1px solid;
        padding: 8px;
        color: #ffffff;
        background-color: #2E5077;
        text-decoration: none;
    }
}

html {
    scroll-padding-top: 100px;
    color: #2E5077;
}

body {
    margin: 0px;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    text-align: center;
    background-color: #2E5077;
    padding: 10px;
    color: rgb(212, 212, 212);

    p {
        margin: 0px;
    }
}

.blok {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.baris {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* width: 70%; */

}

.baris-kanan {
    display: flex;
    /* justify-content: flex-end; */
    width: 60%;
}

.kotak {
    border: 1px solid;
    height: 200px;
    width: 45%;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 500px; */

    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-direction: row;
}

.content-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 5px 5px; */
}

/* logo di nav */
.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../assets/logo-icon.png);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

}

/* navigasi atas */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    max-height: 60px;
    background-color: #ffffff;
    padding: 10px 15% 10px 15%;
    box-shadow: 0px 5px 3px #0000005b;

}

.banner-img {
    height: 500px;
    /* background-image: url(../assets/logo-icon.jpg); */
    background-image: url(https://picsum.photos/id/340/4752/3168);
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.foto-mini {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.left-rounded {
    border-radius: 12px 0px 0px 12px;
}

.right-rounded {
    border-radius: 0px 12px 12px 0px;
}

section {
    padding-top: 20px;
}



@media (max-width: 768px) {
    .logo-icon {
        height: 40px;
        width: 40px;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .main-header {
        padding: 10px 5% 10px 5%;
        max-height: 40px;
    }

    section {
        padding-top: 5px;
    }

    html {
        scroll-padding-top: 80px;
    }

    .banner-img {
        height: 300px;
    }

    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .kotak {
        height: 200px;
        width: 100%;
    }
}